@import 'variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  color: $mainAppColor;

  box-sizing: border-box;
}

#app {
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0 8px;
  width: 100%;
  max-width: 1200px;
}
