// This file contains variables that are used throughout the app
// More specific vars are stored inside the components themself

$minAppHeight: 465px;
$absSectionTopIndentDesktop: 65px;
$absSectionTopIndentMobile: 95px;
$errorColor: #CF2129;

$mainAppFontFamily: 'Times New Roman', Arial;
$secondAppFontFamily: Calibri, sans-serif;
$sectionTitleDesktopFontSize: 30px;
$sectionTitleMobileFontSize: 28px;

$mainAppColor: black;
$secondAppColor: white;
$thirdAppColor: grey;
